apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: backend
  template:
    metadata:
      name: backend-pod
      labels:
        tier: backend
    spec:
      containers:
        - name: backend
          image: docker.io/library/backend-prod 
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: backend