apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      name: frontend-pod
      labels:
        tier: frontend
    spec:
      containers:
        - name: frontend
          image: docker.io/library/frontend-prod
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: frontend